<footer class="site-footer">

  <div class="wrapper">
    <ul class="social-media-list">
      {% if site.github_username %}
      <li class="social-media-list-item">
        <iframe src="https://ghbtns.com/github-btn.html?user=szw&repo=vim-ctrlspace&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li class="social-media-list-item">
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>

</footer>
